@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2d1c3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: black;
}

.nav {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

.site-title {
  font-size: 2.5rem;
  color: inherit;
  text-decoration: none;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0.25rem;
}

.nav li:hover {
  background-color: #777;
}

.employee-card-container {
  display: flex;
  flex-direction: column;
}

.employee-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid black 1px;
}

.employee-card-link {
  text-decoration: none;
  color: black;
}

.employee-card:hover {
  color: #777;
}

.icon-container {
  display: "flex";
  justify-content: "flex-end";
}

.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-container {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

.add-container:hover {
  color: #777;
  cursor: pointer;
}
